<h2> Cohort Detailed Information</h2>


<div>  
	Name: <%= @cohort.name %>
</div>

<div> 
	Start Date: <%= @cohort.start_date %> 
</div>

<div> 
	End Date: <%= @cohort.end_date %> 
</div>

<div> 
	Instructor: <%= @cohort.instructor_id %> 
</div>