$patrick-color: coral;

$primary-color: #333;

$egg-color: rgb(240, 234, 214);

$cream: rgb(253, 249, 236);

$notice-color: rgb(152,255,152);

$fade: .8;

$robin-egg: #00CCCC;

$gun-metal: #383838 ;

$grass-green: #4dff4d;

$prince-color: #D8BFD8;

